.map-modal-content {
  max-width: 500px;
  width: 90%;
  padding: 30px 20px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid rgba(212, 175, 55, 0.3);
}

.map-footer {
  font-size: 0.8rem;
  opacity: 0.7;
}

@media (max-width: 428px) {
  .map-container {
    height: 250px;
  }
}
